@font-face {
	font-family:"stickynote";
	src:url(/apps/stickynote/stickynote.ttf);
}

div.stickynote {
	position:absolute;
	width:200px;
	height:200px;
	color:#101080;
	background-color:#ffff8f;
	padding:5px;
	overflow:hidden;
	white-space:pre-wrap;
	box-shadow:#181818 10px 10px 20px;
	font-family:stickynote,cursive;
	font-size:18px;
	line-height:17.7px;
	letter-spacing:0.5px;
}

div.stickynote textarea {
	background-color:inherit;
	border:0;
	width:100%;
	height:100%;
	resize:none;
	overflow:hidden;
	color:inherit;
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
	letter-spacing:inherit;
}
