<h1>User scripts</h1>

<p>Users can automate tasks via scripts. Orb supports two kind of scripts, Terminal scripts and Javascripts.</p>

<h2>Orb Terminal Script</h2>
<p>An Orb Terminal Script is a text file with the extension 'ots'. It must contain Terminal commands. Open a Terminal and type 'help' for information about the available commands.</p>

<p>A script named login.ots and placed in the root of the file system will be executed after a user logs in. A script named load.ots in the root of the file system will be executed upon every page load or refresh.</p>

<h2>Javascript</h2>
<p>A user Javascript is a text file with the extension 'ujs'. Besides Javascript code, it may also contain jQuery code, as Orb is built with jQuery. <a href="frontend.html">Orb API calls</a>, as specified in this manual, can be used to interact with Orb or the file system. Execute a Javascript by double-clicking its icon and edit it by right-clicking the icon and selecting 'Edit with Coder'.</p>

<p>A script named login.ujs and placed in the root of the file system will be executed after a user logs in. A script named load.ujs in the root of the file system will be executed upon every page load or refresh.</p>

<p>When having a script in your file system which is to be executed by double-clicking it and therefor can be executed multiple times, don't use constants in it, as constants can only be declared once.</p>
