/* Desktop
 */
div.desktop {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#c0c0c0;
	min-width:375px;
	min-height:350px;
	background-size:cover;
	background-position:center;
}

/* Icons
 */
div.icons {
	position:absolute;
	top:0;
	right:0;
	bottom:36px;
	left:0;
	overflow:hidden;
}

div.icons div.icon {
	position:absolute;
	padding:15px 45px;
}

div.icons div.icon span {
	color:#ffffff;
	text-shadow:#404040 1px 1px 3px,
	            #404040 1px -1px 3px,
	            #404040 -1px 1px 3px,
	            #404040 -1px -1px 3px;
}

div.icons div.icon span:nth-of-type(2) {
	display:none;
}
