div.settings {
	height:100%;
}

div.settings div.icon {
	padding:15px;
	float:left;
	cursor:pointer;
}

/* Color
 */
div.color input#color {
	width:200px;
}

div.color div.btn-group {
	margin-top:15px;
	width:100%;
}

div.color div.btn-group button {
	width:50%;
}

/* Zoom
 */
div.zoom div#slider {
	margin:5px 30px 25px 20px;
}

div.zoom div#slider span {
	display:inline-block;
	width:35px;
	height:22px;
	text-align:center;
}

/* User information
 */
div.userinfo div span:first-of-type {
	display:inline-block;
	font-weight:bold;
	width:200px;
}
