div.writer {
	height:100%;
}

div.writer div.ck-editor__editable {
	height:100%;
}

div.writer div.ck-source-editing-area {
	height:100%;
}

div.writer div.editor-counters {
	margin-bottom:5px;
	background-color:#fafafa;
	border-left:1px solid #c4c4c4;
	border-bottom:1px solid #c4c4c4;
	border-right:1px solid #c4c4c4;
	text-align:right;
}

div.writer div.editor-counters div div {
	display:inline-block;
	margin-right:15px;
}
